body{
    margin: 0;
    padding: 0;
    background: linear-gradient( to bottom, #292828, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "League Spartan", sans-serif;
}


/* Cabecera */
.cabecera{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    border-bottom: 5px solid rgb(142, 253, 142);
    height: 7vh;
    width: 100%;
}
.cabecera a{
    text-decoration: none;
    padding-inline: 20px;
    color: black;
}

/* Presentacion */

#presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: white;
    font-size:large;
    text-align: center;
}

/*Tarjeta Personal*/
.tarjetaPersonal{
    display: flex;
    width: 50vw;
    height: 60vh;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 4px white;
}

/*Sección foto Perfil*/
.fotoPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 20px;
}

.fotoPerfil img {
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


/*Sección nombre*/

.nombre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.nombre h1{
    font-size: 50px;
}

.nombre p{
    font-size: 20px;
}

.resaltar{
    color:rgb(142, 253, 142);
}

/*Sección redes*/

.redes{
    border-top: 4px solid white;
    width: 100%;
    margin-top: 20px;
}

/*Sección Sobre mí*/

#sobremi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;

    color: white;
}

.textsobremi{
    width: 45vw;
    border-left: 4px solid rgb(142, 253, 142);
    padding: 30px;
    font-size: 20px;
}

/*Sección trayectoria*/

#trayectoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    height: 80vh;
    color: white;
}

.lineadetiempo{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    margin-top: 20px;
    height: 60vh;
    width: 30vw;
    border-right: 4px solid rgb(142, 253, 142);
}

.estudio1{
    border-top: 4px solid rgb(142, 253, 142);
}